.nav-bar {
    background-color: blue;
    height: 96px;
    width: 1028px;
    justify-content: center;
}

.repo-compenie{
    text-align: center;
    color: #01416c;
}

.gd-tw {
    text-align: center;
    color: #01416c;
}

.gd-tww {
    text-align: left;
    color: #01416c;
}

.box-model {
    height: 504px;
    width: 944px;
    border: 0px solid #777777;
    padding: 36px 40px 36px 40px;
    display: flex;

}

.col-md-6 mx-auto {
    text-align: center;
}